*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


.cont{
    background-color: rgb(252, 250, 250);
    margin: 0 10%;
    position: relative;
}

.intro{
    background-color: rgb(255, 233, 210);
    display: block;
    text-align: center;
    padding: 15px;
}

.intro h1{
    margin-bottom: 10px;
}

.coffee{
    color: rgb(165, 102, 60);
    background-color: rgb(255, 233, 210);
    padding: 50px 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    border-bottom: 1px solid rgb(223, 173, 107);
    align-items: center;
    text-align: center;
    
}

.coffee img{
    width: 100%;
    height: 50%;
    display: block;
}

.imgpart{
    padding: 0 20px;

}
.hotcold{
    margin: 20px;

}

.hotcold h2{
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

button{
    background-color: rgb(255, 233, 210);
    border: 2px solid rgb(209, 133, 72);
    padding: 15px;
    margin: 10px 0;
}

.intro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.outro{
    position: relative;
}
.outro img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.tagline {
    position: absolute;
    bottom: 80px;
    left: 61px;
}
.tagline h2{
    font-size: 30px;
    color: rgb(253, 208, 177);
}
